
footer {
  height: $footer_height;

  .footer {


    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 15px;
    background-color: #ebebeb;

    .copyright {

      b {
        font-weight: 500;
      }
    }

    &-menu {
      display: flex;
      flex-direction: row;

      li {
        margin-right: 1rem;
        font-size: 0.875rem;
        line-height: 1rem;
        white-space: nowrap;

        a {
          text-decoration: none;
          color: $textColor;

          &:hover {
            color: $colorDark;
            -webkit-text-stroke-width: 0.5px;
          }
        }
      }
    }

  }
}