
.categories {
  .category-wrapper {
    margin-bottom: 50px;
    padding: 10px;

    .category-title {

      display: flex;
      align-items: center;
      margin-bottom: 15px;

      svg {
        margin-right: 15px;
        color: $colorMain;
        font-size: 2rem;
      }

      h4 {
        font-weight: 500;
      }
    }

    .user-list {
      display: flex;
      flex-direction: row;

      .user {
        position: relative;
        width: 30%;
        //max-width: 345px;
        margin-right: 30px;
        //border-style: solid;
        //border-color: #f0f0f0;
        //border-width: 0 0 1px 0;
        box-shadow: 0 1px 8px -6px black;

        .MuiCardHeader-content {
          z-index: 1;
        }

        .card-header {
          padding: 2px 12px;
          background-color: $colorMain;

          .MuiCardHeader-action {
            margin: 0;
            align-self: unset;
          }
        }

        .user-back-image {
          position: absolute;
          top: 0;
          left: 0;
          height: 64px;
          width: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          //filter: brightness(0.5);
          overflow: hidden;
          z-index: 0;

          &::after {
            content: "";
            position: absolute;
            opacity: 0.6;
            filter: blur(20px);
            bottom: -10px;
            left: 50%;
            height: 65%;
            width: 120%;
            transform: translateX(-50%);
            background: black;

            //background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
            //background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
            //background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
            //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);

            //background: rgb(0,0,0);
            //background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
            //background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
            //background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
            //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
          }
        }

        .sub-menu {
          color: white;
          font-size: 2rem;

          svg {
            height: 20px;
            width: 20px;
          }

          //color: $colorLight;
          //mix-blend-mode: darken;
        }

        &-name {
          color: white;
          font-size: 1rem;
          font-weight: 500;
        }

        .follow {
          &.following {
            color: #fb3958;
          }
        }

        .followers-count {
          color: white;
          font-size: 0.687rem;
        }

        .last-stream {
          font-size: 0.687rem;
          margin-left: auto;
          padding-right: 10px;
          opacity: 0.8;
        }

        &-description {
          font-size: 0.75rem;
          height: 60px;
          //padding: 6px 16px;
        }

        &-profile-picture {
          border-radius: 100%;
          //background: linear-gradient(to bottom, #ea00ff, #6f006f);
          background: linear-gradient(120deg, lighten($colorLight, 20%), saturate($colorDark, 100%));
          box-shadow: 0px 2px 6px 0px #00000096;
          padding: 2px;
        }
      }
    }
  }
}