

$colorLight: #af2ac3;
$colorMain: #9223af;
$colorDark: #741f9b;

$alertRed: #d32f2f;
$successGreen: #00ad0d;

$textColor: #202631;

$header_height: 64px;
$footer_height: 60px;

$title_fz: 36px;
$txt_fz: 18px;
$txt_lh: 1.8;

$title_fz_mobile: 22px;
$txt_fz_mobile: 15px;
$txt_lh_mobile: 1.5;

$ff: 'Montserrat', sans-serif;
$ffSB: 'Montserrat SemiBold', sans-serif;
$ffB: 'Montserrat Bold', sans-serif;
$ffM: 'Montserrat Medium', sans-serif;


$mobile_only: 'screen and (max-width: 812px)'; //450
$mobile_only_portrait: 'screen and (max-width: 812px) and (orientation: portrait)';
$mobile_only_landscape: 'screen and (max-width: 812px) and (orientation: landscape)';
$mobile_tablet: 'screen and (max-width: 1024px)';
$tablet_only: 'screen and (max-width: 450px) and (max-width: 1024px)';
$tablet_desktop: 'screen and (max-width: 1920px)';
$desktop_only: 'screen and (min-width: 1024px) and (max-width: 1920px)';
$large_desktop_only: 'screen and (min-width: 1400px) and (max-width: 1920px)';
$after_max: 'screen and (min-width: 1921px)';