$textColor: #202631;
$primaryColor: #0B1047;
$primaryColorDeep: #0C1246;
$secondaryColor:#1E3C58;
$errorRed:#FC2929;
$alertRed:#d32f2f;
$successGreen: #00ad0d;

$header_height: 64px;
$footer_height: 176px;

$header_height_mobile: 58px;
//$footer_height_mobile: 200px;

$txt_fz:18px;
$title_fz: 36px;
$txt_lh: 1.8;

$txt_fz_mobile: 15px;
$title_fz_mobile: 22px;
$txt_lh_mobile: 1.5;


$ff: 'Montserrat', sans-serif;
$ffSB: 'Montserrat SemiBold', sans-serif;
$ffB: 'Montserrat Bold', sans-serif;
$ffM: 'Montserrat Medium', sans-serif;


$mobile_only: 'screen and (max-width: 812px)';  //450
$mobile_only_portrait: 'screen and (max-width: 812px) and (orientation: portrait)';
$mobile_only_landscape: 'screen and (max-width: 812px) and (orientation: landscape)';
$mobile_tablet: 'screen and (max-width: 1024px)';
$tablet_only: 'screen and (max-width: 450px) and (max-width: 1024px)';
$tablet_desktop: 'screen and (max-width: 1920px)';
$desktop_only: 'screen and (min-width: 1024px) and (max-width: 1920px)';
$large_desktop_only: 'screen and (min-width: 1400px) and (max-width: 1920px)';
$after_max: 'screen and (min-width: 1921px)';